Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
**/.next
**/*.db
**/.env*
.turbo
.git
./data

# Files that don't need to be included in the Docker image
docs
kubernetes
charts
apps/mobile
apps/landing
apps/browser-extension
pacakges/e2e_tests

# Aider
.aider*

# next.js
.next/
out/
