# Ignore artifacts:
.next
build
coverage
.vscode*
node_modules
dist
*.md
*.json
.env
.env.*
**/migrations/**
packages/open-api/karakeep-openapi-spec.json

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Expo build
**/.expo/**

apps/mobile/android
apps/mobile/ios
